{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "PK": $util.dynamodb.toDynamoDBJson($ctx.args.productId),
        "SK": $util.dynamodb.toDynamoDBJson($ctx.args.productId)
    },
    "attributeValues" : {
        "price": $util.dynamodb.toDynamoDBJson($ctx.args.price),
        "description": $util.dynamodb.toDynamoDBJson($ctx.args.description)
    }
}