{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
    "expression": "PK = :pk and begins_with (SK, :sk)",
    "expressionValues" : {
            ":pk" : $util.dynamodb.toDynamoDBJson($ctx.stash.invoiceId),
            ":sk": $util.dynamodb.toDynamoDBJson("LIN#")
        }
    }
}
